<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DanmarkModMadspild</title>
    <link rel="icon" href="pictures/header%20logo.png">
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<header class="header">
    <div class="header-logo">
        <table>
            <td><img src="pictures/header%20logo.png" alt="logo" class="header-logo-img"></td>
            <td><div class="header-logo-text">Vi spilder ikke mad</div></td>
        </table>
    </div>
    <table>
        <td class="header-table"><a href="hvad-kan-man-gøre.html"><h2 class="block2">Hvad kan man gøre?</h2></a></td>
        <td class="header-table"><a href="faq.html"><h2 class="block3">FAQ</h2></a></td>
        <td class="house-icon">
            <a href="index.html">
                <img src="pictures/black-house.png" alt="House icon" class="house-icon" title="Hjem">
            </a>
        </td>
        <td class="header-table"><h2 class="block2">Om Os</h2></td>
        <td class="header-table"><h2 class="block2">Social Media</h2></td>
    </table>
</header>

<div class="container">
    <img src="pictures/Food-waste.gif" alt="foodwaste" style="width:100%;">
    <div class="text-block">
        <h2 class="text-block-heading"><b>- Selvhjælp - </b></h2>
        <p><b style="color:#30d8de;"> Hvordan kan vi selv gøre det bedre. </b></p>
    </div>
</div>

<div class="content-wrap item-details divider">
    <p class="forbruger-text">
    <h3>En lille quiz fra Rema1000 om madspild <a href="https://madspild.rema1000.dk/quiz" style="color:#1967c4;"><i>HER</i></a>.</h3>
    </p>
    <hr>
    <section class="job-item">
    <p>
        Hver dag bliver der smidt betydelige mængder mad ud i de danske husholdninger.
        Men det største madspild sker inden maden bliver solgt til forbrugerne, dvs. i processen fra produktion til salg.

        Spild af mad har store miljø- og klimamæssige konsekvenser, og det er noget, alle kan være med til at undgå.
        Vi kan måske ikke rette på det ved at spise al den mad, der ellers ville være blevet smidt ud, men udenlandske undersøgelser peger på, at omkring halvdelen af den mad, der ryger i skraldespanden, kunne være spist.

        Madspild handler ikke kun om, hvad der går til spilde i husholdningerne.
        Det handler også om spildet i hele kæden, dvs. under dyrkning og produktion, transport, håndtering og indpakning i butikkerne samt tilberedning og servering i restauranterne m.m.
        <h6><i>Kilde: <a href="https://www.foedevarestyrelsen.dk/Leksikon/Sider/Madspild.aspx"style="color:#1967c4;" >https://www.foedevarestyrelsen.dk/Leksikon/Sider/Madspild.aspx</a></i>.</h6>
    </p>
    </section>
    <section class="job-item">
        <p>
        <h4>Sådan kan den private husholdning undgå madspild.</h4>
            Som forbruger kan du selv gøre noget for at undgå madspild:
            Planlæg dine madindkøb, og køb kun den mad, der er behov for.
            Spis lokale produkter, så skal de ikke holde sig længe under transport.
            Bliv bedre til at bruge rester i nye retter, men hold stadig øje med holdbarheden.
            Opbevar maden ved den rigtige temperatur, så du smider mindre mad ud, der er blevet dårlig.
            Køl madrester, der skal gemmes, hurtigt ned, eller frys dem evt. i små pakker.
            Læs mere i Fødevarestyrelsens guides længere nede på siden.
        </p>
    </section>
            <section class="job-item">
    <p>
                    Her kan du tilmelde dig vores nyhedsbrev om bland andet hvordan man undgår madspild og hvordan man kan hjælpe med at forhindre det.
    <form action="/action_page.php">
        <fieldset>
            <legend> Dine informationer: </legend>
            <label for="fname">Fornavn:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Efternavn:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
        </fieldset>
    </form>
    </p>
    </section>

</div>

<footer class="footer">
    <div class="container-footer">
        <div class="row">
            <div class="footer-col">
                <h4>Navne</h4>
                <ul>
                    <li> <a href="#">Om Os</a> </li>
                    <li> <a href="#">Vores service</a> </li>
                    <li> <a href="#">Policy</a> </li>
                    <li> <a href="#">Frivillig program</a> </li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Kontakt</h4>
                <ul>
                    <li>Tel: +45 22334455</li>
                    <li>Adresse: Rødkilevej 11 </li>
                    <li>Email: Madspild@mad.dk</li>
                    <li>CVR nr 38 21 72 91</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Social Media</h4>
                <div class="social-link">
                    <a href="#"> <i class="fab fa-facebook-f"> </i> </a>
                    <a href="#"> <i class="fab fa-github"> </i> </a>
                    <a href="#"> <i class="fab fa-discord"> </i> </a>
                    <a href="#"> <i class="fab fa-youtube"> </i> </a>
                </div>

            </div>
        </div>
    </div>
</footer>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }
</script>

</body>